.bg-con {
  background-image: linear-gradient(to right, #ffeeee, #ffc0bb);
  height: 100vh;
  padding: 30px;
}
.card {
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.emoji {
  height: 50px;
  width: 50px;
}
.list-item-main {
  display: flex;
  padding: 20px;
  justify-content: center;
}
.list-item {
  list-style-type: none;
  margin-left: 20px;
}
.another-con {
  height: 100vh;
  background-color: white;
  margin: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.love {
  height: 50px;
  width: 50px;
}
